<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-title>
              <ion-searchbar></ion-searchbar>
            </ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/cook.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Livroos</ion-card-title>
      </ion-card-header>
      <ion-card-content>

      </ion-card-content>

      <ion-button expand="full" routerLink="/briochedoree"><h2>La Brioche dorée</h2></ion-button>
      <ion-button expand="block" routerLink="/lagondole"><h2>La gondole</h2></ion-button>
      <ion-button expand="block"><h2>Caesar</h2></ion-button>
      <ion-button expand="block"><h2>Le Regal</h2></ion-button>
      <ion-button expand="block"><h2>Planet Kebab</h2></ion-button>
      <ion-button expand="block"><h2>My Burger</h2></ion-button>
      <ion-button expand="block"><h2>Le Comptoire</h2></ion-button>

    </ion-card>


</ion-content>
